.container {
    position: relative;
    max-width: 30rem;
    height: 2rem;
    padding: 1.3em 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1.3em;
    font-family: sans-serif;
  }
.container:before {
    content: '';
    position: absolute;
    left: 40%;
    height: 0.8rem;
    width: 2px;
    margin-left: -1px;
    background-color: black;
    top: 0;
}
.container:after {
    content: '';
    position: absolute;
    left: 40%;
    height: 0.8rem;
    width: 2px;
    margin-left: -1px;
    background-color: black;
    bottom: 0;
}
.highlight {
    color: red;
    display: table-cell;
}
.leftSide {
    display: table-cell;
    width: 40%;
    text-align: right;
}
.rightSide {
    display: table-cell;
    width: 60%;
    text-align: left;
}